#fb-root
- if user_signed_in?
  = render 'shared/sidebar'

#page-wrapper
  .page-content
    .row
      .col-lg-12
        .page-title
          %h1
            =@accion.name
    .row
      .col-lg-6
        %h3
          Descripción de la acción
        %p
          = @accion.desc
        %h3
          ¿En dónde será?
        %p
          = @accion.lugar
        %h3
          ¿Cuando?
        %p
          = @accion.fecha
        %p
          = @accion.horario
        %h3
          ¿Quién lo propone?
        %p
          = @accion.promotor
        %h3
          Comparte esta acción!
        %p
          = request.original_url
          = render 'shared/share_button'

      .col-lg-6
        = render 'shared/action_submit_form', locals: {action: @accion}

  =debug(@accion) if Rails.env.development?

