
- if user_signed_in?
  = render 'shared/sidebar'

#page-wrapper
  .page-content
    .row
      .col-lg-12
        .page-title
          %h1
            =@action.name
    .row
      .col-lg-6
        %h3
          Descripción de la acción
        %p
          = @action.desc
        %h3
          ¿En dónde será?
        %p
          = @action.lugar
        %h3
          ¿Cuando?
        %p
          = @action.fecha
        %p
          = @action.horario
        %h3
          ¿Quién lo propone?
        %p
          = @action.promotor
        - if !@action.canjeable && !current_user.nil?
          %h3
            Pasos para completar
          %progress#barbar{value: 30, max: 100}
      .col-lg-6
        = render 'shared/action_submit_form', locals: {action: @action}

  =debug(@action) if Rails.env.development?

