- provide(:title, "Perfil")

= render 'shared/sidebar'

#page-wrapper
  .page-content
    = render 'shared/notifications'
    .row
      .col-lg-12
        .page-title
          %h1
            ¿Qué puedo hacer?
            %small
              Completa actividades, y revisa a tus amigos.
          %ol.breadcrumb
            %li.active
              %span.breadcrumbs
                ¡NUEVAS ACTIVIDADES!
            %li.pull-right
              %a{href: acciones_path}
                #reportrange.btn.btn-blue.btn-square.date-picker
                  VER MÁS
    -# Acciones por hacer
    .row
      - @acciones.each do |a|
        .col-xs-push-6.col.sm-pull-3
          = render partial: "shared/action_show", locals: {accion: a}


    .row
      .col-lg-6
        .portlet.portlet-default
          .portlet-heading
            .portlet-title
              %h4
                Actividad de Amigos
            .clearfix
          .portlet-body
            .table-responsive
              %table.table
                %thead
                  %th
                    Posición
                  %th
                    Nombre
                  %th
                    Total de Acciones
                  %th
                    Puntos
                %tbody
                  - i = 1
                  - current_user.followed_users.first(4).each do |u|
                    %tr
                      %td
                        = i
                      %td
                        = u.first_name
                      %td
                        = u.completed_actions.count
                      %td
                        = u.points
                      - i += 1


