- provide(:title, "Perfil")

= render 'sidebar'

#page-wrapper
  .page-content
    = render 'shared/notifications'
    .row
      .col-lg-12
        .page-title
          %h1
            ¿Qué puedo hacer?
            %small
              Completa actividades, y revisa a tus amigos.
          %ol.breadcrumb
            %li.active
              %i.fa.fa-dashboard
              Dashboard
            %li.pull-right
              #reportrange.btn.btn-green.btn-square.date-picker
                %i.fa.fa-calendar
                %span.date-range

    -# Acciones por hacer
    .row
      .col-lg-2.col-sm-6
        .circle-tile
          %a{href: todo_user_acciones_path}
            .circle-tile-heading.green
              %i.fa.fa-users.fa-fw.fa-3x
          .circle-tile-content.green
            .circle-tile-description.text-faded
              Acciones por hacer
            .circle-tile-number.text-faded
              = current_user.todo_actions.count
              %span#sparklineA
            %a.circle-tile-footer{href: todo_user_acciones_path}
              Más información
              %i.fa.fa-chevron-circle-right

      -# Total de puntos
      .col-lg-2.col-sm-6
        .circle-tile
          %a{href: '#'}
            .circle-tile-heading.blue
              %i.fa.fa-star.fa-fw.fa-3x
          .circle-tile-content.blue
            .circle-tile-description.text-faded
              Total de Puntos e Historial
            .circle-tile-number.text-faded
              = current_user.points
              puntos
              %span#sparklineA
            %a.circle-tile-footer{href: '#'}
              Historial
              %i.fa.fa-chevron-circle-right

      -# Acciones disponibles
      .col-lg-2.col-sm-6
        .circle-tile
          %a{href: acciones_path}
            .circle-tile-heading.red
              %i.fa.fa-tasks.fa-fw.fa-3x
          .circle-tile-content.red
            .circle-tile-description.text-faded
              Acciones Disponibles
            .circle-tile-number.text-faded
              = Accion.count
              acciones
              %span#sparklineA
            %a.circle-tile-footer{href: acciones_path}
              Ver todas las acciones
              %i.fa.fa-chevron-circle-right

      -# Acciones realizadas
      .col-lg-2.col-sm-6
        .circle-tile
          %a{href: done_user_acciones_path}
            .circle-tile-heading.purple
              %i.fa.fa-check.fa-fw.fa-3x
          .circle-tile-content.purple
            .circle-tile-description.text-faded
              Acciones realizadas
            .circle-tile-number.text-faded
              = current_user.completed_actions.count
              acciones
              %span#sparklineA
            %a.circle-tile-footer{href: done_user_acciones_path}
              Historial
              %i.fa.fa-chevron-circle-right
      .col-lg-2.col-sm-6
        .circle-tile
          %a{href: '#'}
            .circle-tile-heading.orange
              %i.fa.fa-users.fa-fw.fa-3x
          .circle-tile-content.orange
            .circle-tile-description.text-faded
              Seguidores & Siguiendo
            .circle-tile-number.text-faded
              = current_user.followers.count
              |
              = current_user.followed_users.count
              %span#sparklineA
            - if user_signed_in?
              - unless current_user == @user
                -if !current_user.following?(@user)
                  = render 'follow'
                - else
                  = render 'unfollow'
    .row
      .col-lg-6
        .portlet.portlet-default
          .portlet-heading
            .portlet-title
              %h4
                Actividad de Amigos
            .clearfix
          .portlet-body
            .table-responsive
              %table.table
                %thead
                  %th
                    Posición
                  %th
                    Nombre
                  %th
                    Total de Acciones
                  %th
                    Puntos
                %tbody
                  - i = 1
                  - current_user.followed_users.first(4).each do |u|
                    %tr
                      %td
                        = i
                      %td
                        = u.first_name
                      %td
                        = u.completed_actions.count
                      %td
                        = u.points
                      - i += 1


