.col-lg-4
  .portlet{class: "portlet-#{valor}"}
    .portlet-heading
      .portlet-title
        %h4
          = accion.name
      .portlet-widgets
        %a.btn.btn-xs.btn-purple{href: accion_path(accion)}
          Ver más
        %span.divider
        %a{href: "#accion-#{accion.id}", "data-parent" => '#accordion', 'data-toggle'=>'collapse'}
          %i.fa.fa-chevron-down
      .clearfix
    .panel-collapse.collapse-in{id: "accion-#{accion.id}"}
      .portlet-body
        %p
          = accion.desc
      .portlet-footer
        Esta acción vale:
        = accion.points
        puntos //
        Promotor:
        =accion.promotor

