%section.box.box-feature.action-card
  %a.image.image-full{ href: '#'}
    = holder_tag '300x200/lava'
  .inner
    %header
      %h2
        = accion.name
      %span
        = accion.points
    %p
      = accion.desc
      = link_to "Acc", accion_path(accion)