.col-lg-4
  .portlet{class: "portlet-white"}
    .portlet-heading
      .portlet-title
        %h4
          = accion.name
      .portlet-widgets
        %span
          = accion.promotor
        %span.divider
        %a{href: "#accion-#{accion.id}", "data-parent" => '#accordion', 'data-toggle'=>'collapse'}
          %i.fa.fa-chevron-down
      .clearfix
    .panel-collapse.collapse-in{id: "accion-#{accion.id}"}
      .portlet-body
        %p
          = accion.desc
        %p.parrafo-horario
          = "#{accion.fecha} - #{accion.horario}"
      .portlet-footer
        .bottom-container
          .participa-container
            %a.btn.btn-red{href: accion_path(accion)}
              Participa
          .puntos-container
            %p.texto-puntos
              %span.puntos-span
                =accion.points
              %span.puntos-text
                puntos


